{{ partial "header.html" . }}
<article class="post post-view">
  <header class="post-header">
  <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
</header>
<div class="post-content">
  {{ .Content }}
</div>
<footer class="post-footer">
  {{ if .Params.tags }}
  <br>
  <p class="tagged">Tagged</p>
  <ul class="post-tags">
    {{ range .Params.tags }}
    <li><a href="{{ `/tags/` }}{{ replace . "#" "%23" | urlize }}/">{{ . }}</a></li>
    {{ end }}
  </ul>
  {{ end }}

  <p class="post-meta">
    {{- if or .Params.author .Site.Params.author -}}Published by {{ .Params.author | default .Site.Params.author }} on {{ end }}
    {{- .Date.Format "January 2, 2006" -}}. <a href="https://mobile.twitter.com/clipperhouse">Find me at @clipperhouse</a>.
  </p>

</footer>
</article>
{{ partial "footer.html" . }}
