{{ partial "header.html" . }}
<article class="post post-view">
  <header class="post-header">
  <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <p class="post-meta">
    {{- if or .Params.author .Site.Params.author -}}Published by {{ .Params.author | default .Site.Params.author }} · {{ end }}
    {{- .Date.Format "January 2, 2006" -}}
  </p>
</header>
<div class="post-content">
  {{ .Content }}
  <hr>
  <small style="color:#999">
      The source code for this page is <a href="https://github.com/clipperhouse/netlify/blob/master/content/{{ .File.Path }}">here</a>.
  </small>
</div>
<footer class="post-footer">
  {{ if .Params.tags }}
  <br>
  <p class="tagged">Tagged</p>
  <ul class="post-tags">
    {{ range .Params.tags }}
    <li><a href="{{ `/tags/` }}{{ replace . "#" "%23" | urlize }}/">{{ . }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
  
</footer>
</article>
{{ partial "footer.html" . }}
