.result, .examples {
    display:none;
    margin-top: 12px;
}

.result.show {
	display: block;
}

.result {
	white-space: pre-wrap;
}

.hint {
    color: #666;
    padding-right: 8px;
}

span.lemma {
    background-color: #ffffcc;
    padding: 3px;
}

form button {
    border: 0;
    background-color: rgba(0, 122, 255, .8);
    color: white;
}

form textarea {
	width: 100%;
}

form label {
	margin-right: 1rem;
	cursor: pointer;
	white-space: nowrap;
}

form label input {
	margin-right: 1px;
}

div#labels {
	display: inline-block;
}