.result, .examples {
    display:none;
    margin-top: 12px;
}
.hint {
    color: #666;
    padding-right: 8px;
}
span.lemma {
    background-color: #ffffcc;
    padding: 3px;
}
button {
    width: auto;
}
form button {
    border: 0;
    background-color: rgba(0, 122, 255, .8);
    color: white;
}

form textarea {
	border-color: rgba(0, 122, 255, .8);
	width: 100%;
	height: unset;
	min-height: unset;
	margin: 0;
}

.code {
	font-size: 90%;
}

form label {
	display: initial;
	font-weight: normal;
	margin-right: 1rem;
	cursor: pointer;
	white-space: nowrap;
}

div.labels {
	display: inline-block;
}