h1.post-title > a {
  padding: 0 0 0 42px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 32px 32px;
}

.tag, a.tag {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #3e6d8e;
  background-color: #e0eaf1;
  padding: 4px 6px;
  margin: 5px 0;
  text-decoration: none;
  line-height: 1.4;
  white-space: nowrap;
  display: inline-block;
  border: none;
}
.post-content a.tag {
  text-decoration: none;
  border: none;
}
#popular {
  display: inline-block;
  visibility: hidden;
  font-size: 90%;
  margin-top: 1em;
}
#tag-links {
  display: none;
}
#form {
    margin-bottom: 20px;
}
#menu {
  border: none;
  margin: 0 1em 3em 0;
}
#menu > a {
  display: block;
  margin: 0;
  padding: 7px 6px 6px 28px;
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: 16px 16px;
  border: none;
}
#menu > a:hover {
  background-color: #f5f5f5;
}
#menu > a.selected {
  background-color: #eee;
}
#right > p#se {
  margin: 0;
  padding: 7px 6px 6px 28px;
  background-repeat: no-repeat;
  background-position: 6px center;
  -moz-background-size: 16px 16px;
  -o-background-size: 16px 16px;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-image: url(//cdn.sstatic.net/stackexchange/img/favicon.ico);
}
#tag-correlations {
  margin-bottom: 1.5em;
  font-size: 90%;
}
.up-and-out {
  background-image: url(up-and-out.png);
  background-position: right center;
  padding-right: 10px;
  background-repeat: no-repeat;
}
a#github {
  background-image: url(https://github.com/favicon.ico);
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;
  -moz-background-size: 32px 32px;
  -o-background-size: 32px 32px;
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
  height: 32px;
  line-height: 32px;
  padding-left: 40px;
}
