body {
	padding: 1.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 800px;
	margin: auto;
}

main {
	clear: both;
}


header {
	margin-bottom: 3rem;
	color: #555;
}

header > * {
	display: inline-block;
}

header a {
	color: inherit;
	text-decoration: none;
	border: none;
}

header > nav {
	float: right;
}

header .sep {
	margin: 0 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	letter-spacing: normal;
	margin-top: 0;
	margin-bottom: 2rem;
	line-height: 1.2;
}

li {
	list-style: disc;
	margin-left: 1.5em;
}

a {
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	color: #2079c7;
}

main.list a p {
	text-decoration: none;
	color: initial;
}

main.list h3 {
	margin-bottom: 0.6rem;
}

main.list article {
	padding: .5rem 0;
	border-bottom: 1px solid #eee;
}

main.list article a {
	display: block;
	padding: 2rem 0;
	border-bottom: 0;
}

main.list article p {
	font-family: "Georgia";
	margin-bottom: 0;
}

.pagination {
	margin: 2rem 0;
}

.pagination a {
	display: inline-block;
	text-decoration: none;
	border-bottom: none;
}

.pagination a.next {
	float: right;
	margin-right: .5em;
}

footer {
	clear: both;
}

blockquote {
	margin-left: 0;
	padding-left: 2rem;
	font-style: italic;
	border-left: 2px solid #eee;
	color: #999;
}

code, .code {
	font-family: Menlo, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
	white-space: pre-wrap;
}

.pre {
	background: #f9f9f9;
	padding: 16px;
	border-radius: 5px;
	white-space: pre;
	overflow-x: auto;
}

pre code {
	font-size: inherit;
	white-space: pre;
	overflow-x: scroll;
}

main.single article p, main.single article li {
	font-family: "Georgia";
}


main.single .post-meta {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(0, 0, 0, .4);
}

main.single.app .post-meta {
	display: none;
}

main.single .post-meta a {
	display: inline-block;
}

main.single .post-meta a.next {
	float: right;
}

button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a[href^='https://github.com'] {
	padding-right: 22px;
	padding-left: 2px;
	background-image: url(https://github.githubassets.com/favicon.ico);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 18px 18px;
}

@media (max-width: 550px) {
	header > nav {
		float: none;
	}
}

img[src$='#photo'] {
    float: right;
    margin: 0 1em 2em 2em;
    opacity: .9;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #999;
}
