body {
	padding: 1.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	max-width: 800px;
	margin: auto;
	line-height: 1.5;
}

main {
	clear: both;
}

header {
	margin-bottom: 2rem;
}

header > * {
	display: inline-block;
}

header > nav {
	margin-left: 2.2rem;
	float: right;
	line-height: 2.2;
}

header .sep {
	margin: 0 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	letter-spacing: normal;
}

li {
	list-style: disc;
	margin-left: 1.5em;
}

a {
	text-decoration: none;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	color: #2079c7;
}

header a {
	color: inherit;
	text-decoration: none;
	border: none;
}

main.list a p {
	text-decoration: none;
	color: initial;
}

main.list h3 {
	margin-bottom: 0.6rem;
}

main.list article {
	padding: .5rem 0;
	border-bottom: 1px solid #eee;
}

main.list article a {
	display: block;
	padding: 2rem 0;
	border-bottom: 0;
}

main.list article p {
	font-family: "Georgia";
	margin-bottom: 0;
}

.pagination {
	margin: 2rem 0;
}

.pagination a {
	display: inline-block;
	text-decoration: none;
	border-bottom: none;
}

.pagination a.next {
	float: right;
	margin-right: .5em;
}

footer {
	clear: both;
}

blockquote {
	margin-left: 0;
	padding-left: 2rem;
	font-style: italic;
	border-left: 2px solid #eee;
	color: #999;
}

code, .code {
	font-family: Menlo, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.pre {
	background: #f9f9f9;
	padding: 16px;
	border-radius: 5px;
	white-space: pre-wrap;
	overflow-x: auto;
}

pre code {
	font-size: inherit;
	white-space: pre;
	word-wrap: normal;
}

main.single p, main.single li {
	font-family: "Georgia";
}

.post-meta {
	color: rgba(0, 0, 0, .4);
	margin-top: 4rem;
}

button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}