
.me-plugin,
.mejs-mediaelement,
audio,
embed {
  width: 0;
  height: 0;
}
.mejs-container {
  margin: 1em 0;
}
.mejs-offscreen {
  display: none;
}
.mejs-playpause-button button {
  border: 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-color: #333;
  background-image: url(/img/audio.png);
  width: 120px;
  height: 120px;
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
}
.mejs-playpause-button.mejs-pause button {
  background-position: -120px 0;
}
#control {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-color: #333;
  background-image: url(/img/audio.png);
  width: 120px;
  height: 120px;
  cursor: pointer;
  margin-bottom: 10px;
}
#control.playing {
  background-position: -120px 0;
}
#status {
  margin: 10px auto;
}
p.return {
  margin-top: 15px;
}
a,
button {
  -ms-touch-action: manipulation;
  /* IE10  */
  touch-action: manipulation;
  /* IE11+ */
}
div:focus {
  outline: none;
  border: none;
}
h1 > small {
  font-size: 55%;
  display: inline-block;
  padding-left: .4em;
  top: -1px;
}