#control {
  border: 0;
  border-radius: 50%;
  color: transparent;
  background-repeat: no-repeat;
  background-color: #333;
  background-image: url(/img/audio.png);
  width: 120px;
  height: 120px;
  cursor: pointer;
  margin: 10px 0;
  display: block;
}

.playing #control {
  background-position: -120px 0;
}

.waiting #control {
  color: white;
  background-image: none;
}

#wrapper {
  display: none;
  overflow-y: hidden;
  height: 140px;
  width: 120px;
}

.post-entry {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-entry + .post-entry {
  margin-top: 0;
  margin-bottom: 0;
}

.post-entry:hover {
  box-shadow: none;
}

body.list {
  background-color: transparent;
}

.station {
  cursor: pointer;
}

h1 small,
h2 small {
  font-size: 55%;
  display: inline-block;
  padding-left: 0.4em;
  top: -1px;
  font-weight: normal;
}
