{{ partial "header.html" . }}
<link href="/css/classical.css" rel="stylesheet">

<article class="post post-view">
    <header class="post-header">
        <h1 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <small>{{ .Params.station.location }}</small>
        </h1>
    </header>

    <audio src="{{ .Params.station.stream_url }}" type="audio/mpeg" id="player" autoplay></audio>

    <div id="status">Click to play</div>
</article>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/mediaelement/mediaelement-and-player.js"></script>
<script src="/js/classical.js"></script>

{{ partial "footer.html" . }}