h1{
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    font-size: 38px;
}
p{
    font-family: fantasy;
    color: azure;
    font-size: 19px;
}
body{
    background-color: black;
}
a{
    color: deeppink;
    font-family: cursive;
    font-size: 21px;
}