h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 38px;
}
p {
  font-family: fantasy;
  color: azure;
  font-size: 19px;
}
body {
  background-color: black;
}
a {
  color: red;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 21px;
}
#corner {
  position: absolute;
  right: 0;
  bottom: 0;
}
