<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		{{- if .IsHome }}
			{{- .Site.Title }} · {{ .Site.Params.author -}}
		{{- else }}
			{{- .Title }} · {{ .Params.author | default .Site.Params.author -}}
		{{ end -}}
	</title>

	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

	{{ $css := resources.Get "css/normalize.css" | fingerprint }}
	<link href="{{ $css.RelPermalink }}" rel="stylesheet">

	{{ $css := resources.Get "css/skeleton.css" | fingerprint }}
	<link href="{{ $css.RelPermalink }}" rel="stylesheet">
	
	{{ $css := resources.Get "css/style.css" | fingerprint }}
	<link href="{{ $css.RelPermalink }}" rel="stylesheet">
	
	{{ range .Params.css -}}
		{{ $css := resources.Get . | fingerprint }}
		<link href="{{ $css.RelPermalink }}" rel="stylesheet">
	{{ end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}

	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
{{ range .Params.js -}}
	{{ if hasPrefix . "http" }}
		<script src="{{ . }}"></script>
	{{ else }}
		{{ $js := resources.Get . | fingerprint }}
		<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
	{{ end }}
{{ end }}
</html>
