{{ define "main" }}
	<main class="single{{ with .Params.style }} {{.}}{{ end }}">
		<article>
			<h1>{{ .Title }}</h1>
			<div>
				{{ .Content }}
			</div>
		</article>
		<div class="post-meta">
			<p>
				Published {{ .Date.Format "January 2, 2006" -}}
			</p>
			<!-- <p>
				{{ with .NextInSection }}
					<a href="{{ .Permalink }}" class="prev">← {{ .Title }}</a>
				{{ end }}
				{{ with .PrevInSection }}
					<a href="{{ .Permalink }}" class="next">{{ .Title }} →</a>
				{{ end }}
			</p> -->
		</div>
	</main>
{{ end }}
